/* !!! NAVBAR !!! */
.navbar-brand {
  background-image: url("images/logo_navbar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
/* !!! Navbar End !!! */

/* !!! TITLE ANIMATION !!! */
.popout {
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 50px;
  
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #ffc996;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #ffc996;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #ffc996;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #ffc996;
    color: black;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  animation-delay: -0.5s;
}

@media (max-width: 971px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 60px;
    padding: 80px;
    text-align: center;
  }
}
@media (max-width: 610px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 35px;
    padding: 0px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
/* !!! TITLE ANIMATION ENDS !!! */
/* Background color of top */
#title {
  background-color: #583d72;
}
/* Page main text */
.section-text {
  padding: 5%;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}
.icon {
  margin-left: auto;
  margin-right: auto;
  color: #583d72;
}
/* Research Papers */
.research-papers {
  text-align: center;
  padding: 2%;
  width: 30%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10px;
  background: rgba(159, 95, 128, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 100%;

}

/* Case Studies */
.research-studies {
  text-align: center;
  padding: 5%;

  border-radius: 10px;
  margin-bottom: 5%;
}
/* Headings */
.topic-heading{
  text-align: center;
  margin: 3%
}



/* !!! FOOTER !!! */
.button_contact {
  margin-bottom: 40px;
  background-color: #1d6683 !important;
  border-color: #1d6683 !important;
}
.link-row {
  max-width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (max-width: 1300px) {
  .link-row {
    max-width: 90%;
  }
}
.footer_bg {
  background: url(https://media.giphy.com/media/xT0xezQXGJl8nRthny/giphy.gif)
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}
.footer-basic {
  padding: 40px 0;
  padding-bottom: 10px;
  background-color: #fff;
  color: #4b4c4d;
  margin: 10px;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  color: red;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
/* social icons */
.icons-div {
  text-align: center;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 60px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.youtube:hover {
  background-color: #ff0000;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #bc2a8d;
}
.social-icons a.envelope:hover {
  background-color: #4285f4;
}
@media (max-width: 500px) {
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* media query for links */
.text-link {
  text-decoration: none;
  color: black;
}
.text-link:hover {
  opacity: 70%;
  color: black;
}
@media (max-width: 1000px) {
  .text-link {
    padding: 5px;
  }
}
.link-div {
  margin-top: 2%;
  margin-bottom: 2%;
}
/* footer end */